.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.item {
  display: flex;
  cursor: default;
  align-items: center;
  gap: var(--space-2);
  padding: calc(var(--space-1) - 1px);
  padding-left: calc(var(--space-3) - 1px);
  font-size: var(--text-sm);
  user-select: none;
  border: 1px solid var(--color-accent-20);
  border-radius: 0.25rem;
  background-color: var(--color-accent-10);
  color: var(--color-text-muted);
  transition:
    border-color 0.15s,
    background-color 0.15s;

  &:hover {
    --show-steppers: 1;

    border-color: var(--color-accent-70);
  }
}

.item_active {
  border-color: var(--color-accent-70);
  background-color: var(--color-accent-20);
}

.item_clickable {
  cursor: pointer;
}

.item_sortable {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &:hover .dragHandle {
    color: var(--color-accent-60);
  }
}

.item_dragging {
  z-index: 10;
  opacity: 90%;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -4px rgb(0 0 0 / 10%);
}

.label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dragHandle {
  display: flex;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  color: var(--color-text-muted);
}

.right {
  min-width: var(--control-size);
  height: var(--control-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.priorityNumber {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-size: var(--text-sm);
  color: var(--color-accent-60);
}

.checkboxWrapper {
  display: flex;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.surfaceGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.surfaceGroup + .surfaceGroup {
  margin-top: var(--space-2);
}

.surfaceLabel {
  font-size: var(--text-sm);
  color: var(--color-text-muted);
}
